.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.blur-hero {
  width: 22rem;
  height: 30rem;
  left: 0;
}

.hero__left {
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__right {
  background-color: var(--orange);
  position: relative;
  flex: 1;
}

.the-best-ad {
  background-color: #363d42;
  width: fit-content;
  color: white;
  margin-top: 4rem;
  padding: 20px 15px;
  border-radius: 4rem;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.the-best-ad > div {
  background-color: var(--orange);
  position: absolute;
  left: 2%;
  width: 5.4rem;
  height: 80%;
  border-radius: 3rem;
  animation: slider 3s linear;
}

.the-best-ad > span {
  z-index: 1;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-overflow: inherit;
}

.hero__text > div:nth-child(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figures {
  display: flex;
  gap: 2rem;
}

.figures > div {
  display: flex;
  flex-direction: column;
}

.figures > div > span:nth-child(1) {
  color: white;
  font-size: 2rem;
}

.figures > div > span:nth-child(2) {
  color: var(--gray);
  text-transform: uppercase;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
}

.hero__buttons > button:nth-child(1) {
  background-color: var(--orange);
  color: white;
  width: 8rem;
}

.hero__buttons > button:nth-child(2) {
  background-color: transparent;
  color: white;
  width: 8rem;
  border: 2px solid var(--orange);
}

.hero__right > button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: black;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: flex-start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
  z-index: 1;
}

.heart-rate > img {
  width: 2rem;
}

.heart-rate > :nth-child(2) {
  color: var(--gray);
}

.heart-rate > :nth-child(3) {
  color: white;
  font-size: 1.5rem;
}

.hero-image {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
  z-index: 2;
}

.hero-image-back {
  position: absolute;
  top: 4rem;
  right: 20rem;
  width: 15rem;
}

.calories {
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  top: 32rem;
  right: 28rem;
}

.calories > img {
  width: 3rem;
}

.calories > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calories > div > :nth-child(1) {
  color: var(--gray);
}

.calories > div > :nth-child(2) {
  color: white;
  font-size: 1.5rem;
}

/* Media */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .blur-hero {
    width: 14rem;
  }

  .the-best-ad {
    align-items: center;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }

  .hero__text {
    font-size: xx-large;
    justify-content: center;
    align-items: center;
  }

  .hero__text > div:nth-child(3) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }

  .figures {
    justify-content: center;
    text-align: center;
  }

  .figures > div > span:nth-child(1) {
    font-size: large;
  }

  .figures > div > span:nth-child(2) {
    font-size: small;
  }

  .hero__buttons {
    justify-content: center;
  }

  .hero__right {
    position: relative;
    background: none;
  }

  .heart-rate {
    left: 1rem;
    top: 2rem;
  }

  .calories {
    position: relative;
    top: 5rem;
    left: 2rem;
  }

  .calories > img {
    width: 2rem;
  }

  .calories > div > :nth-child(2) {
    font-size: 1rem;
    color: white;
  }

  .hero-image {
    position: relative;
    width: 15rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }

  .hero-image-back {
    width: 15rem;
    left: 2rem;
    top: 0rem;
  }
}
